.size-logo img{
    max-width: 30%;
    margin: 0 auto;
    display: block;
}
ion-content{
    --ion-background-color:#a381c8;
    }
    ion-footer{
        --ion-background-color:#8f6cc9;
    }
    ion-item{
        --ion-background-color:#9c79d3;
    }